<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Channel</title>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="../../css/channel.css">
</head>

<body>
    <div id="top-container">
        <div id="top-start">
            <div id="menu-img_div"></div>
            <div id="logo-img"></div>
        </div>
        <div id="top-center">
            <div id="top-center_">
                <div id="smallScreenVer_out"></div>
                <input id="search" placeholder="검색" type="text"><button id="search-button"></button>
            </div>
        </div>
        <div id="top-end">
            <div id="setting" class="topEnd_icon"></div>
            <div id="user" class="topEnd_icon"></div>
            <div id="logout" class="topEnd_icon"></div>
        </div>
    </div>
    <div id="mainPage">
        <div id="side-bar">
            <div id="alert1">베타 버전입니다.<br>PC로그인을 권장드립니다.</div>
        </div>
        <div id="main">
            <!-- channel page -->
            <div id="channel_top">
                <div id="channelTitle"></div>
            </div>
            <ul id="video-ul">
                <li>영상 목록</li>
            </ul>
        </div>
    </div>
    <script src="../../js/channel.js"></script>
    <script src="../../js/default.js"></script>
</body>

</html>