<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Channel</title>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="../../css/channel.css">
</head>

<body>
    <div id="top-container">
        <div id="top-start">
            <div id="menu-img_div"></div>
            <div id="logo-img"></div>
        </div>
        <div id="top-center">
            <div id="top-center_">
                <div id="smallScreenVer_out"></div>
                <input id="search" placeholder="검색" type="text"><button id="search-button"></button>
            </div>
        </div>
        <div id="top-end">
            <div id="setting" class="topEnd_icon"></div>
            <div id="user" class="topEnd_icon"></div>
            <div id="logout" class="topEnd_icon"></div>
        </div>
    </div>
    <div id="mainPage">
        <div id="side-bar">
            <div id="alert1">베타 버전입니다.<br>PC로그인을 권장드립니다.</div>
        </div>
        <div id="main">
            <!-- channel page -->
            <div id="channel_container">
                <div id="channel_header">
                    <div id="channel_user">
                        <div id="channel_profile"></div>
                        <div id="channel_inner-header-container">
                            <div>
                                <div id="channelTitle"></div>
                                <div id="user_message">@message</div>
                            </div>
                            <div id="channel_settingBox"></div>
                        </div>
                    </div>
                </div>
                <div id="tabs_container">
                    <div id="tabs_inner-container">
                        <ul id="tabs">
                            <li style="border-bottom: 2px solid black">홈</li>
                            <li>채널</li>
                            <li>정보</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="video_container">
                <div id="videoContents"></div>
            </div>
            <div id="noVideo_container">
                <div id="noVideo">
                    <div id="noVideoImg"></div>
                    <div id="noVideoText">존재하지 아니하다. 영상이!</div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/channel.js"></script>
    <script src="../../js/default.js"></script>
</body>

</html>