<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DimiTube</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="../../css/htmlBar_design.css">
</head>

<body>
    <div id="default_container">
        <div id="top-container">
            <div id="top-start">
                <div id="menu-img_div"></div>
                <div id="logo-img"></div>
            </div>
            <div id="top-center">
                <div id="top-center_">
                    <div id="smallScreenVer_out"></div>
                    <input id="search" placeholder="검색" type="text"><button id="search-button"></button>
                </div>
            </div>
            <div id="top-end">
                <div id="setting" class="topEnd_icon"></div>
                <div id="user">
                    <div id="user-inner" class="topEnd_icon"></div>
                </div>
                <div id="logout" class="topEnd_icon"></div>
            </div>
        </div>
        <div id="side-bar">
            <!-- 너비 늘리기 -->
            <div id="alert1">베타 버전입니다.<br>PC로그인을 권장드립니다.</div>
        </div>
    </div>
    <div id="mainPage">
        <div id="main">
            최근영상
            <div id="video_container">
                <!-- 영상이 컨테이너를 넘어갈 경우 컨테이너 길이 자동 맞춤 -->
                <div id="videoContents_container">
                    <div id="videoContents"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
    <script src="js/default.js"></script>
</body>

</html>