<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/register.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../../css/htmlBar_design.css"
		/>
		<title>DimiTube Register</title>
	</head>

	<body>
		<div id="top">
			<img id="logo-img" src="img/dimitube.png" />
		</div>
		<div id="login-container">
			<div id="login_box">
				<div class="inputText">ID</div>
				<input
					type="text"
					name=""
					class="loginInput"
					id="id"
				/><br /><br /><br /><br />
				<div class="inputText">PASSWORD</div>
				<input
					type="password"
					name=""
					class="loginInput"
					id="password"
					minlength="4"
					maxlength="25"
				/><br /><br /><br /><br />
				<div class="inputText">EMAIL</div>
				<input
					type="email"
					name=""
					class="loginInput"
					id="email"
				/><br /><br /><br /><br /><br />
				<button id="submit">SIGN UP</button>
			</div>
			<div id="register_img"></div>
		</div>
		<script src="js/register.js"></script>
	</body>
</html>
