<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/htmlBar_design.css">
    <title>영상 업로드</title>
</head>

<body>
    <h1>업로드 페이지 입니다.</h1>
    동영상 제목: <input type="text" name="" id="fileName"><br>
    <input id="fileInput" type="file" accept="video/mp4"><br>
    <button id="uploadButton">업로드</button>
    <script src="../../js/upload.js"></script>
</body>

</html>