@font-face {
    font-family: "MYRIADPRO-REGULAR";
    src: url("../font/MYRIADPRO-REGULAR.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MYRIADPRO-SEMIBOLD";
    src: url("../font/MYRIADPRO-SEMIBOLD.OTF");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1425px) {
    #top {
        width: 220px;
        height: 50px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    #login_box {
        width: 380px;
        height: max-content;
        margin: 0px 100px;
    }

    #goToRegister_box {
        position: relative;
        width: 630px;
        height: 400px;
        margin: 0px 100px;
    }
}

@media screen and (max-width: 1425px) and (min-width: 1025px) {
    #top {
        width: 220px;
        height: 50px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    #login_box {
        width: 380px;
        height: max-content;
        margin: 0px 100px;
        margin-bottom: 50px;
    }

    #goToRegister_box {
        position: relative;
        width: 630px;
        height: 400px;
        margin: 0px 100px;
    }
}

@media screen and (max-width: 1025px) {
    #top {
        width: 220px;
        height: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #login_box {
        width: 380px;
        height: max-content;
        margin-bottom: 50px;
    }

    #goToRegister_box {
        position: relative;
        width: 630px;
        height: 400px;
    }
}

input:focus {
    outline: none;
}

#login-container {
    width: 100%;
    height: 600px;
    /* border: solid 1px black; */

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    user-select: none;
}

#login_box_text {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-family: "MYRIADPRO-REGULAR";
    font-size: 13px;
    align-items: center;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
    border: 1px solid gray;
    content: " ";
    border-radius: none;
    cursor: pointer;
}

input[for="rememberMe"] {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.inputText {
    width: 100%;
    font-size: 19px;
    font-family: "MYRIADPRO-REGULAR";
}

#submit {
    width: 100%;
    height: 50px;
    font-family: "MYRIADPRO-REGULAR";
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #df0e77;
    border: none;
}

#submit:active {
    background-color: #d10e70;
}

.loginInput {
    width: 100%;
    height: 50px;
    border: none;
    font-family: "MYRIADPRO-REGULAR";
    font-size: 20px;
    border-bottom: solid 1.5px black;
    box-sizing: border-box;
}

.loginPage-linkText {
    color: gray;
    text-decoration: none;
}

#goToRegister_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/schoolDimigo1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125%;
    filter: brightness(0.8);
    text-align: center;
    align-items: center;
}

#createAccountText_box {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.createAccount_text {
    color: white;
}

#c_a_t_1 {
    font-family: "MYRIADPRO-SEMIBOLD";
    font-size: 22px;
}

#c_a_t_2 {
    font-family: "MYRIADPRO-REGULAR";
    font-size: 16px;
}

#goToRegister_a {
    width: 120px;
    height: 40px;
    margin: auto;
    background-color: #df0e77;
}

#goToRegister_a:active {
    background-color: #d10e70;
}

#goToRegister_btn {
    width: 100%;
    height: 100%;
    font-family: "MYRIADPRO-REGULAR";
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
    color: white;
}
