#container {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

#header-container {
    width: 100%;
}

#channel-div {
    width: 80%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

#video-div > div,
#channel-div > div {
    width: 100%;
    border: 1px solid black;
    line-height: 150px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_channelProfile {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background-image: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#search_channelInformation {
    display: flex;
}

#search_channelName {
    width: 300px;
}
