#container {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

#header-container {
    width: 100%;
}

#video-div>div, #channel-div>div {
    border: 1px solid black;
    line-height: 150px;
    text-align: center;
    font-size: 30px;
}

#search_channelProfile_container {
    margin-top: 16px;
}

#search_channelProfile {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background-image: url('https://d18yz4nkgugxke.cloudfront.net/profiles/aGNkb3NkdGV1cg.png?${new Date().getTime()}');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}