#profile_photo {
	width: 80px;
	height: 80px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#profile_photo:hover {
	filter: brightness(50%);
	/* 여기 시각적 부분 수정할것. */
}

#fileInput {
	display: none;
}

#video-div {
	margin-bottom: 30px;
}

#video-div > div:hover {
	background-color: #eeeeee80;
}
