@font-face {
    font-family: 'NOTOSANS';
    src: url("../font/NotoSansKR-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

#watch-header {
    position: relative;
    width: 100%;
    height: 100%;
}

#watch-inner-header {
    display: flex;
    height: 100%;
    margin-left: calc((100% - 1725px)/2);
    margin-right: calc((100% - 1725px)/2);
}

#video {
    width: 100%;
    height: 80%;
}

#video-container {
    width: 72%;
    height: calc(100% - 40px);
    padding: 20px 20px 0 0;
    font-family: 'NOTOSANS';
}

#videoTitle {
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'NOTOSANS';
}

#description {
    color: #3b3a3a;
}

#channelInfo {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

#user-icon {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 18px;
}